<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <travray_category>
            <general>
                <format><![CDATA[<span class="category">{{category}}</span>]]></format>
            </general>
        </travray_category>
    </default>
</config>